.dropdown-desk-menu {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin:10px auto;
}
.dropdown-desk-menu-row {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

h5 {
  font-family: 'Raleway', sans-serif;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .dropdown-desk-menu {
      display: flex;
      flex-direction: column;
    }
    
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .dropdown-desk-menu {
      display: flex;
      flex-direction: column;
    }
    
    .dropdown-desk-menu-row {
      margin: 30px;
      display: flex;
      flex-direction: row;
      
    }

    h5 {
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
    }
    
}