.homepage-area {
  min-height: 511px;
}

.go-button {
  cursor: auto;
}

.go-button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
  opacity: 0.5;
}

.location-hidden { 
  display: none;
}

.sub-location-hidden {
  display: none;
}

.location {
  display: auto;
}

.sub-location {
  display:auto;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .homepage-area {
      min-height: 1021px;
    }
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .homepage-area {
      height: 100%;
    }
    .location {
      display: inline-block;
    }
    
    .sub-location {
      display:inline-block;
    }
    
}