.homepage-area {
  min-height: 511px;
}

.go-button {
  cursor: auto;
  border: solid;
  padding: 15px 35px;
  border-radius: 10px;
  border: solid #ed4c5f;
  color: white;
  background-color: #ed4c5f;
}

.go-button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  text-decoration: none;
  opacity: 0.5;
  border: solid #ed4c5f;
  color: #ed4c5f;
  padding: 15px 35px;
  border-radius: 10px;
}

.location-hidden { 
  display: none;
}

.sub-location-hidden {
  display: none;
}

.location {
  display: auto;
}

.sub-location {
  display:auto;
}


@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    
    .homepage-area {
      height: 100%;
    }
    
}